<%- include("partials/header"); -%>
<hr>    
<div class="end">
        <h1 id="s-title">Email has been successfully sent. </h1>
            <div class="out">
                <h2>Valid E-mails: </h2>
                <p><%= arr %></p>
            </div> 
            <div class="out">
                <h2>Invalid E-mails: </h2>
                <p><%= arr2 %></p>
            </div> 
    </div>

<%- include("partials/footer"); -%>